<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="cau_hinh" name="Cấu Hình"/>
	    <menuitem id="menu_quan_ly" parent="cau_hinh" name="Cấu hình"/>
	    <menuitem action="action_chuc_vu_tree_view" id="menu_action_chuc_vu_tree_view" parent="menu_quan_ly" name="Chức vụ"  sequence="1"/>
    </data>
</openerp>
