<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<record model="ir.ui.menu" id="procurement.menu_stock_sched">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="stock.menu_stock_product">
			<field name="active" eval="False"/>
		</record>
		<menuitem id="menu_warehouse_ad" name="Warehouse" parent="green_erp_base.menu_items" sequence="25" groups="base.group_no_one"/>
		<menuitem id="stock.menu_action_incoterm_open" name="Incoterms" parent="menu_warehouse_ad" sequence="15" groups="base.group_no_one"/>
		<menuitem id="stock.menu_action_stock_journal_form" name="Stock Journals" parent="menu_warehouse_ad" sequence="20" groups="base.group_no_one"/>
		<record model="ir.ui.menu" id="stock.menu_stock_configuration">
			<field name="active" eval="False"/>
		</record>
		
		<menuitem action="stock.action_move_form2"
			id="stock.menu_action_move_form2"
			parent="menu_warehouse_ad" sequence="25" groups="stock.group_locations"/>
		
		<menuitem action="stock.action_warehouse_form" id="stock.menu_action_warehouse_form" groups="stock.group_locations"
            		parent="menu_warehouse_ad" sequence="5"/>
		<menuitem action="stock.action_location_form" id="stock.menu_action_location_form" groups="stock.group_locations"
    		parent="menu_warehouse_ad" sequence="10"/>
		
		<record model="ir.ui.menu" id="stock.menu_stock_products_moves">
			<field name="active" eval="False"/>
		</record>
		
		<menuitem name="Delivery Products"
	          id="menu_delivery_products"
	          parent="base.menu_base_partner"
	          sequence="4"/>
	          
		    <menuitem name="Delivery Orders"
		    	  action="action_picking_out"
		          id="menu_action_picking_delivery_orders"
		          parent="menu_delivery_products"
		          sequence="4"/>
		
    </data>
</openerp>