.openerp .oe_green_erp_scroll {
overflow-x: auto;
}

.openerp .oe_green_erp_scroll_y {
overflow-y: auto;
}

.openerp .oe_list_content th.oe_sortable, .openerp .oe_list_content th.oe_sortable div {
  cursor: pointer;
  vertical-align: text-top;
}
