<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    
		<menuitem id="menu_action_bang_gia_mua"
			action="action_bang_gia_mua"
			name="Bảng giá mua"
			parent="menu_config_hopdong" sequence="20"/>
			
		<menuitem id="menu_action_bang_gia_ban"
			action="action_bang_gia_ban"
			name="Bảng giá bán"
			parent="menu_config_hopdong" sequence="20"/>
			
    	<record model="ir.ui.menu" id="base.menu_config_address_book">
	    	<field name="groups_id" eval="[(4, ref('green_erp_viruco_base.group_viruco_admin'))]"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_country_partner">
	    	<field name="groups_id" eval="[(4, ref('green_erp_viruco_base.group_viruco_admin'))]"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_country_state_partner">
	    	<field name="groups_id" eval="[(4, ref('green_erp_viruco_base.group_viruco_admin'))]"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_localisation">
	    	<field name="groups_id" eval="[(4, ref('green_erp_viruco_base.group_viruco_admin'))]"/>
		</record>
    </data>
</openerp>
