<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="quan_ly" name="Quản Lý"/>
	    	<menuitem id="menu_quan_ly_dh" parent="quan_ly" name="Quản lý điều hành"/>
			    <menuitem action="action_quy_trinh_form" id="menu_action_quy_trinh_form" parent="menu_quan_ly_dh" name="Quy trình"  sequence="1"/>
			<menuitem id="menu_gd_dh" parent="quan_ly" name="Menu Giám đốc / Lãnh đạo"/>    
			    <menuitem action="action_nhom_cong_viec" id="menu_action_nhom_cong_viec" parent="menu_gd_dh" name="Nhóm công việc"  sequence="1"/>
			    <menuitem action="action_nhom_cong_viec_cho_phe_duyet" id="menu_action_nhom_cong_viec_cho_phe_duyet" parent="menu_gd_dh" name="Nhóm công việc chờ duyệt"  sequence="2"/>
			    <menuitem action="action_nhom_cong_viec_da_duyet" id="menu_action_nhom_cong_viec_da_duyet" parent="menu_gd_dh" name="Nhóm công việc đã duyệt"  sequence="3"/>
			<menuitem id="menu_chuyen_vien" parent="quan_ly" name="Menu Chuyên viên"/>     
				<menuitem action="action_nhom_cong_viec_moi_tao" id="menu_action_nhom_cong_viec_moi_tao" parent="menu_chuyen_vien" name="Nhóm công việc mới tạo"  sequence="1"/>
				<menuitem action="action_nhom_cong_viec_dang_lam" id="menu_action_nhom_cong_viec_dang_lam" parent="menu_chuyen_vien" name="Nhóm công việc đang làm"  sequence="2"/>
			    <menuitem action="action_cong_viec" id="menu_action_cong_viec" parent="menu_chuyen_vien" name="Công việc"  sequence="3"/>
			    <menuitem action="action_cong_viec_con" id="menu_action_cong_viec_con" parent="menu_chuyen_vien" name="Công việc con"  sequence="4"/> 
    </data>
</openerp>
