<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="quan_ly" name="Quản Lý"/>
	    	<menuitem id="menu_quan_ly_dh" parent="quan_ly" name="Quản lý điều hành"/>
			    <menuitem action="action_quy_trinh_form" id="menu_action_quy_trinh_form" parent="menu_quan_ly_dh" name="Quy trình"  sequence="1"/>
    </data>
</openerp>
