<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		
		<record model="ir.ui.menu" id="purchase.menu_purchase_rfq">
	    	<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="purchase.menu_purchase_form_action">
	    	<field name="active" eval="False"/>
		</record>
		
    	<menuitem id="menu_action_don_mua_hang_trongnuoc"
    		action="green_erp_viruco_base.action_don_mua_hang_trongnuoc"
    		name="Đơn mua hàng trong nước"
    		parent="purchase.menu_procurement_management"
			sequence="0"/>
			
		<menuitem id="menu_action_don_mua_hang_nhapkhau"
    		action="green_erp_viruco_base.action_don_mua_hang_nhapkhau"
    		name="Đơn mua hàng nhập khẩu"
    		parent="purchase.menu_procurement_management"
			sequence="0"/>
			
		<record model="ir.ui.menu" id="base.menu_purchase_root">
	    	<field name="groups_id" eval="[(6,0, [ref('green_erp_viruco_base.group_viruco_thumua'),ref('green_erp_viruco_base.group_viruco_mua_nhapkhau')])]"/>
		</record>
		<record model="ir.ui.menu" id="purchase.menu_procurement_management">
	    	<field name="groups_id" eval="[(6,0, [ref('green_erp_viruco_base.group_viruco_thumua')])]"/>
		</record>
		
    </data>
</openerp>
