<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		
		<record model="ir.ui.menu" id="purchase.menu_purchase_rfq">
	    	<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="purchase.menu_purchase_form_action">
	    	<field name="active" eval="False"/>
		</record>
    </data>
</openerp>
