<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<menuitem id="cau_hinh" name="Cấu hình" groups = "green_erp_ccty_base.group_base_admin_ccty"/>
    	<menuitem id="menu_danh_muc" parent="cau_hinh" icon="STOCK_OPEN" name="Các danh mục"/>
    	<menuitem id="menu_action_res_users_canbo" parent="menu_danh_muc" name="Danh mục cán bộ" action="action_res_users_canbo" sequence = '1'/>
    	<menuitem id="base.menu_action_res_company_form" parent="menu_danh_muc" name="Danh mục trạm"  action="base.action_res_company_form" sequence = '2'/>
    	<menuitem id="menu_loai" parent="menu_danh_muc" name="Danh mục loài vật" action="action_loai_vat"/>
    	<menuitem id="menu_ho_chan_nuoi" parent="menu_danh_muc" name="Danh mục hộ chăn nuôi" action="action_chan_nuoi"/>
    	<menuitem id="menu_loai_hang" parent="menu_danh_muc" name="Danh mục loại hàng" action="action_loai_hang"/>
 <!--   	<menuitem id="menu_loai_vacxin" parent="menu_danh_muc" name="Danh mục vacxin" action="action_loai_vacxin"/> -->
 <!--   	<menuitem id="menu_tinh_tp" parent="menu_danh_muc" name="Tỉnh/Thành phố" action="action_tinh_tp"/>  -->
    	<menuitem id="menu_quan_huyen" parent="menu_danh_muc" name="Quận (Huyện)" action="action_quan_huyen"/>
    	<menuitem id="menu_phuong_xa" parent="menu_danh_muc" name="Phường (xã)" action="action_phuong_xa"/>
    	<menuitem id="menu_khu_pho" parent="menu_danh_muc" name="Khu phố (Ấp)" action="action_khu_pho"/>
    	<menuitem id="menu_trang_thai" parent="menu_danh_muc" name="Trạng thái" action="action_trang_thai"/>
    	
    	<record model="ir.ui.menu" id="base.menu_administration">
	    	<field name="groups_id" eval="[(6,0, [ref('base.group_system')])]"/>
		</record>
    </data>
</openerp>
