<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<menuitem id="cau_hinh" name="Cấu hình"/>
    	<menuitem id="menu_danh_muc" parent="cau_hinh" name="Các danh mục"/>
    	<menuitem id="menu_can_bo" parent="menu_danh_muc" name="Danh mục cán bộ" action="action_can_bo"/>
    	<menuitem id="menu_tram" parent="menu_danh_muc" name="Danh mục trạm"  action="action_tram_thu_y"/>
    	<menuitem id="menu_loai" parent="menu_danh_muc" name="Danh mục loài vật" action="action_loai_vat"/>
    	<menuitem id="menu_ho_chan_nuoi" parent="menu_danh_muc" name="Danh mục hộ chăn nuôi" action="action_chan_nuoi"/>
    	<menuitem id="menu_loai_hang" parent="menu_danh_muc" name="Danh mục loại hàng" action="action_loai_hang"/>
    	<menuitem id="menu_loai_vacxin" parent="menu_danh_muc" name="Danh mục vacxin" action="action_loai_vacxin"/>
    	<menuitem id="menu_tinh_tp" parent="menu_danh_muc" name="Tỉnh/Thành phố" action="action_tinh_tp"/>
    	<menuitem id="menu_quan_huyen" parent="menu_danh_muc" name="Quận (Huyện)" action="action_quan_huyen"/>
    	<menuitem id="menu_phuong_xa" parent="menu_danh_muc" name="Phường (xã)" action="action_phuong_xa"/>
    	<menuitem id="menu_khu_pho" parent="menu_danh_muc" name="Khu phố (Ấp)" action="action_khu_pho"/>
    </data>
</openerp>
