<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<record model="ir.ui.menu" id="mail.mail_feeds_main">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="green_erp_ql_ve_loto.menu_action_import_ve_loto">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="green_erp_ql_ve_loto.menu_action_lichsu_dongbo">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_customer">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_supplier">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_bank_and_cash">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account_voucher.menu_encode_entries_by_voucher">
			<field name="active" eval="False"/>
		</record>
		
<!--  PURCHASE MENU  -->

		<record model="ir.ui.menu" id="purchase.menu_procurement_management_inventory">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="purchase.menu_procurement_management_invoice">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="purchase.menu_procurement_management_product">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="purchase.menu_purchase_config_purchase">
			<field name="active" eval="False"/>
		</record>
		
		
<!--  WAREHOUSE MENU  -->		
		
		<record model="ir.ui.menu" id="stock.menu_stock_products_moves">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="procurement.menu_stock_sched">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="stock.menu_stock_product">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="stock.menu_stock_configuration">
			<field name="active" eval="False"/>
		</record>
		
	
<!--  SALE MENU  -->		
		
		<record model="ir.ui.menu" id="base.menu_product">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="base.menu_base_config">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="base.menu_partner_form">
			<field name="active" eval="False"/>
		</record>
		
<!--  REPORTING MENU  -->	

		<record model="ir.ui.menu" id="base.menu_reporting">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="green_erp_base.admin">
			<field name="groups_id" eval="[(6,0,[ref('group_ql_ve_loto_man')])]"/>
		</record>
		
		<menuitem name="Báo cáo" id="menu_kho_baocao" parent="stock.menu_stock_root" sequence="2"/>
			
			<menuitem id="menu_stock_action_vetuchon_dangluuhanh_report"
				action="action_vetuchon_dangluuhanh_report"
				parent="menu_kho_baocao" sequence="10"/>
		
			<menuitem id="menu_stock_action_tonghop_vetuchon_tonkho_report"
				action="action_tonghop_vetuchon_tonkho_report"
				parent="menu_kho_baocao" sequence="20"/>
				
		
		<menuitem action="action_muc_tran" id="menu_action_muc_tran" parent="menu_cau_hinh" sequence="60" groups="group_ql_ve_loto_man"/>
		<menuitem action="action_vuot_tran" id="menu_action_vuot_tran" parent="menu_ve_loto" sequence="70" groups="group_ql_ve_loto_man"/>
		
    </data>
</openerp>
