<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		
		<record model="ir.ui.menu" id="account.menu_finance_legal_statement">
			<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="account.menu_finance_generic_reporting">
			<field name="active" eval="False"/>
		</record>
    	
<!-- Phiếu chi -->
	<menuitem id="menu_sale_purchase_receipt"
		name="Sale and Purchase Receipt"
		parent="account.menu_finance" 
		sequence="3"/>

		<menuitem id="menu_action_purchase_receipt_batch_cash" icon="STOCK_JUSTIFY_FILL"
	        action="action_purchase_receipt_batch_cash" 
	        parent="menu_sale_purchase_receipt" sequence="5"/>
	        
	    <menuitem id="menu_action_purchase_receipt_batch_bank" icon="STOCK_JUSTIFY_FILL"
	        action="action_purchase_receipt_batch_bank" 
	        parent="menu_sale_purchase_receipt" sequence="10"/>
        
        <menuitem id="account_voucher.menu_action_purchase_receipt" icon="STOCK_JUSTIFY_FILL"
       		action="account_voucher.action_purchase_receipt" 
       		parent="menu_sale_purchase_receipt" 
       		sequence="20"/>
   		
<!-- Phieu Thu -->
	<menuitem id="menu_action_sale_receipt_batch_cash" icon="STOCK_JUSTIFY_FILL"
        action="action_sale_receipt_batch_cash" 
        parent="menu_sale_purchase_receipt"
        sequence="30"/>
	            
        <menuitem id="menu_action_sale_receipt_batch_bank" icon="STOCK_JUSTIFY_FILL"
            action="action_sale_receipt_batch_bank" 
            parent="menu_sale_purchase_receipt"
            sequence="40"/>
            
   		<menuitem id="account_voucher.menu_action_sale_receipt" icon="STOCK_JUSTIFY_FILL"
            action="account_voucher.action_sale_receipt"
            parent="menu_sale_purchase_receipt"
            sequence="50"/>
		
		<menuitem id="menu_action_bang_ke_doanh_thu_view" 
			        action="green_erp_viruco_account.action_bang_ke_doanh_thu_view" 
			        parent="account.menu_finance_reports"
			        sequence="30"/>	
			        
		<menuitem id="menu_action_bang_ke_doanh_thu_theo_mat_hang_view" 
			        action="green_erp_viruco_account.action_bang_ke_doanh_thu_theo_mat_hang_view" 
			        parent="account.menu_finance_reports"
			        sequence="40"/>	
			        
			        
<!-- Phieu Nhap/Phieu Xuat cho hoa don -->

	<record id="action_picking_tree4_picking_to_invoice" model="ir.actions.act_window">
            <field name="name">On Incoming Shipments</field>
            <field name="res_model">stock.picking.in</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form,calendar</field>
            <field name="domain">[('type','=','in'),('purchase_id.invoice_method','=','picking')]</field>
            <field name="context">{"default_type": "in", "contact_display": "partner_address", "search_default_done": 1, "search_default_to_invoice": 1}</field>
            <field name="search_view_id" ref="stock.view_picking_in_search"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to create a new incoming shipment.
              </p><p> 
                Here you can track all the product receptions of purchase
                orders where the invoicing is "Based on Incoming Shipments",
                and for which you have not received a supplier invoice yet.
                You can generate a supplier invoice based on those receptions.
              </p>
            </field>
       </record>

        <menuitem action="action_picking_tree4_picking_to_invoice"
            id="purchase.menu_action_picking_tree4_picking_to_invoice"
            parent="purchase.menu_procurement_management_invoice" sequence="90"/>
            
 	<menuitem id="menu_nhap_xuat_cho_hoa_don" name = "Phiếu nhập/Phiếu xuất kho chờ hóa đơn" parent="account.menu_finance" sequence="3"/>
          <menuitem action="green_erp_viruco_account.action_picking_tree4_picking_to_invoice"
            id="menu_action_phieu_nhap_cho_hoa_don_accounting"
            parent="menu_nhap_xuat_cho_hoa_don" name = "Phiếu nhập kho chờ hóa đơn" sequence="1"/>  
          <menuitem action="green_erp_viruco_sale.action_picking_tree4_picking_out_to_invoice"
            id="menu_action_phieu_xuat_cho_hoa_don_accounting"
            parent="menu_nhap_xuat_cho_hoa_don" name = "Phiếu xuất kho chờ hóa đơn" sequence="2"/>  

	
            
    	
    </data>
</openerp>