<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	
    	<menuitem action="sale.action_shop_form"
    		id="sale_stock.menu_action_shop_form" parent="green_erp_base.menu_items"
    		sequence="23" groups="stock.group_locations"/>
	
	     <menuitem
	          id="menu_action_sale_invoice_pending"
	          action="action_sale_invoice_pending"
	          parent="base.menu_invoiced"
	          sequence="10"/>
	          
		
    </data>
</openerp>