<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<menuitem id="vaccine" name="Quản lý Vaccine" groups = "green_erp_ccty_base.group_base_admin_ccty,group_vaccine_user"/>
    	<menuitem id="canbo_thuy" parent="vaccine" name="Dành cho cán bộ thú y"/> 
    		<menuitem id="menu_action_nhap_vaccine" parent="canbo_thuy" name="Nhập vaccine" action="action_nhap_vaccine"/>
    		<menuitem id="menu_action_so_lo" parent="canbo_thuy" name="Số lô" action="action_so_lo"/>
    		<menuitem id="menu_action_ton_vaccine_report" parent="canbo_thuy" name="Thống kê tồn Vaccine" action="action_ton_vaccine_report"/>
    </data>
</openerp>
