<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    	<menuitem id="vaccine" name="Quản lý Vaccine"/>
    	<menuitem id="canbo_thuy" parent="vaccine" name="Dành cho cán bộ thú y"/> 
    		<menuitem id="menu_action_nhap_vaccine" parent="canbo_thuy" name="Nhập vaccine" action="action_nhap_vaccine"/>
    		
    </data>
</openerp>
