<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
    
    	<record model="ir.ui.menu" id="mail.mail_feeds_main">
	    	<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="base.menu_project_long_term">
	    	<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="project_long_term.menu_phase_schedule">
	    	<field name="active" eval="False"/>
		</record>
		
		<record model="ir.ui.menu" id="project_long_term.menu_pm_users_project1">
	    	<field name="active" eval="False"/>
		</record>

    </data>
</openerp>